html, body {
    height: 100%;
}

body {
  padding: 4.5rem;
  margin: 0;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3907%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient3908)'%3e%3c/rect%3e%3crect width='108' height='108' clip-path='url(%26quot%3b%23SvgjsClipPath3909%26quot%3b)' x='1255.34' y='129.13' fill='url(%23SvgjsPattern3910)' transform='rotate(108.16%2c 1309.34%2c 183.13)'%3e%3c/rect%3e%3cpath d='M151.46 70.06L138.75 71.56 134.49 59.48 121.77 60.98 117.52 48.9 104.8 50.4 100.54 38.33M155.69 63.27L142.98 64.77 138.72 52.69 126 54.19 121.75 42.11 109.03 43.61 104.77 31.54M159.93 56.48L147.21 57.98 142.95 45.9 130.23 47.4 125.98 35.32 113.26 36.83 109 24.75' stroke='rgba(234%2c 0%2c 232%2c 1)' stroke-width='1.99' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3ccircle r='69.16723103903782' cx='1092.51' cy='270.46' stroke='rgba(234%2c 0%2c 232%2c 1)' stroke-width='1.09' stroke-dasharray='3%2c 3'%3e%3c/circle%3e%3crect width='360' height='360' clip-path='url(%26quot%3b%23SvgjsClipPath3911%26quot%3b)' x='167.08' y='23.72' fill='url(%23SvgjsPattern3912)' transform='rotate(296.45%2c 347.08%2c 203.72)'%3e%3c/rect%3e%3cpath d='M317.47 269.04L321.28 281.26 310.19 287.66 314 299.89 302.9 306.29 306.71 318.52 295.62 324.92' stroke='rgba(234%2c 0%2c 232%2c 1)' stroke-width='2.7'%3e%3c/path%3e%3crect width='372' height='372' clip-path='url(%26quot%3b%23SvgjsClipPath3913%26quot%3b)' x='-22.13' y='-119.87' fill='url(%23SvgjsPattern3914)' transform='rotate(83.51%2c 163.87%2c 66.13)'%3e%3c/rect%3e%3cpath d='M82.54 522.31a5.6 5.6 0 1 0 6.5 9.12 5.6 5.6 0 1 0-6.5-9.12zM91.83 535.34a5.6 5.6 0 1 0 6.5 9.12 5.6 5.6 0 1 0-6.5-9.12zM101.12 548.37a5.6 5.6 0 1 0 6.5 9.12 5.6 5.6 0 1 0-6.5-9.12zM110.4 561.4a5.6 5.6 0 1 0 6.5 9.12 5.6 5.6 0 1 0-6.5-9.12z' fill='rgba(234%2c 0%2c 232%2c 1)'%3e%3c/path%3e%3cpath d='M1132.26 554.2a5.6 5.6 0 1 0 10.12 4.78 5.6 5.6 0 1 0-10.12-4.78zM1146.72 561.03a5.6 5.6 0 1 0 10.13 4.79 5.6 5.6 0 1 0-10.13-4.79zM1161.19 567.87a5.6 5.6 0 1 0 10.13 4.78 5.6 5.6 0 1 0-10.13-4.78zM1175.66 574.7a5.6 5.6 0 1 0 10.12 4.79 5.6 5.6 0 1 0-10.12-4.79zM1096.49 554.99a5.6 5.6 0 1 0 10.13 4.79 5.6 5.6 0 1 0-10.13-4.79zM1110.96 561.83a5.6 5.6 0 1 0 10.12 4.78 5.6 5.6 0 1 0-10.12-4.78zM1125.42 568.66a5.6 5.6 0 1 0 10.13 4.79 5.6 5.6 0 1 0-10.13-4.79zM1139.89 575.5a5.6 5.6 0 1 0 10.13 4.78 5.6 5.6 0 1 0-10.13-4.78z' stroke='%23e73635' stroke-width='1' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3crect width='84' height='84' clip-path='url(%26quot%3b%23SvgjsClipPath3915%26quot%3b)' x='212.15' y='496.47' fill='url(%23SvgjsPattern3916)' transform='rotate(144.85%2c 254.15%2c 538.47)'%3e%3c/rect%3e%3crect width='216' height='216' clip-path='url(%26quot%3b%23SvgjsClipPath3917%26quot%3b)' x='1117.69' y='375.3' fill='url(%23SvgjsPattern3918)' transform='rotate(170.35%2c 1225.69%2c 483.3)'%3e%3c/rect%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath3919%26quot%3b)' x='349.79' y='-0.81' fill='url(%23SvgjsPattern3920)' transform='rotate(49.18%2c 379.79%2c 29.19)'%3e%3c/rect%3e%3cpath d='M604.69 430.47a5.6 5.6 0 1 0-7.64-8.19 5.6 5.6 0 1 0 7.64 8.19zM593.77 418.78a5.6 5.6 0 1 0-7.64-8.19 5.6 5.6 0 1 0 7.64 8.19zM582.85 407.08a5.6 5.6 0 1 0-7.64-8.18 5.6 5.6 0 1 0 7.64 8.18zM571.93 395.39a5.6 5.6 0 1 0-7.64-8.19 5.6 5.6 0 1 0 7.64 8.19zM638.22 442.94a5.6 5.6 0 1 0-7.64-8.19 5.6 5.6 0 1 0 7.64 8.19zM627.3 431.24a5.6 5.6 0 1 0-7.64-8.18 5.6 5.6 0 1 0 7.64 8.18zM616.38 419.55a5.6 5.6 0 1 0-7.64-8.19 5.6 5.6 0 1 0 7.64 8.19zM605.46 407.86a5.6 5.6 0 1 0-7.64-8.19 5.6 5.6 0 1 0 7.64 8.19zM671.76 455.41a5.6 5.6 0 1 0-7.65-8.19 5.6 5.6 0 1 0 7.65 8.19zM660.84 443.71a5.6 5.6 0 1 0-7.65-8.18 5.6 5.6 0 1 0 7.65 8.18zM649.92 432.02a5.6 5.6 0 1 0-7.65-8.19 5.6 5.6 0 1 0 7.65 8.19zM639 420.32a5.6 5.6 0 1 0-7.65-8.18 5.6 5.6 0 1 0 7.65 8.18z' fill='rgba(7%2c 105%2c 162%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3907'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3908'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(202%2c 1%2c 180%2c 0.82)' offset='0.74'%3e%3c/stop%3e%3c/linearGradient%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern3910'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(234%2c 0%2c 232%2c 1)' fill='none' stroke-width='1.06'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath3909'%3e%3ccircle r='27' cx='1309.34' cy='183.13'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern3912'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23e73635' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath3911'%3e%3ccircle r='90' cx='347.08' cy='203.72'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern3914'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='%23e73635' fill='none' stroke-width='1.21'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath3913'%3e%3ccircle r='93' cx='163.87' cy='66.13'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern3916'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(7%2c 105%2c 162%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath3915'%3e%3ccircle r='21' cx='254.15' cy='538.47'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='216' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern3918'%3e%3crect width='216' height='3' x='0' y='0' fill='rgba(0%2c 255%2c 109%2c 1)'%3e%3c/rect%3e%3crect width='216' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath3917'%3e%3ccircle r='54' cx='1225.69' cy='483.3'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern3920'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(7%2c 105%2c 162%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath3919'%3e%3ccircle r='15' cx='379.79' cy='29.19'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}



#sidebar {
  position: absolute;
  width: 11rem;
  height: 100%;
  left: -180px;
  transition: .4s;
  z-index: 1;
  border: 1px solid black;
  border-radius: 10px;
  top: 0px;
  background: #edc0bf;
  background: linear-gradient(90deg, #0f57ff81 0, #f552df8a 100%);
  backdrop-filter: blur(10px);
} 
    
#sidebar.active {
  left: 0;
  height: 100%;
}
  
#sidebar ul li a {
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
  
#sidebar ul li{
  list-style: none;
  font-size: 40px;
  padding: 2px 2px;
}

  
#sidebar .toggle-btn {
  position: absolute;
  left: 190px;
  top: 10px;
}
  
.toggle-btn span {
  width: 45px;
  height: 4px;
  background: rgba(2, 2, 2, 0.938);
  display: block;
  margin-top: 4px;
}

#banner {
  backdrop-filter: blur(10px);
  color: rgba(0, 0, 0, 0.705);

}

#banner h1 {
  text-align: center;
}




.col {
  border-radius: 10px;
  height: 250px;
  width: 120px;
  backdrop-filter: blur(8px);
  margin: 5px;
  color: rgba(19, 4, 4, 0.986);
}

.col h2 {
  text-align: end;
}


#wrap {
  min-height: 30%;
}
  
#main {
  overflow:auto;
  padding-bottom: 30px; /* this needs to be bigger than footer height*/
}

div#banner.container {
  text-align: center;
}

div.row {
  display: block;
  width: 100%;
  margin: 0px auto;
}

#header img {
  width: 120vh;
  display: block;
  margin: 0px auto;

}

div #main.example-row.clear-top.container {
  background-color: rgba(255, 255, 255, 0.096);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;  
  color: rgba(3, 2, 2, 0.705);
}

#anime.example-content-secondary {
  border-radius: 10px;
  backdrop-filter: blur(10px);
  height: 190px;
  width: 170px;
  top: 20px;
  color: rgba(2, 252, 135, 0.808);

}

.example-content-main ul li {
  margin-left: 0px;
  font-weight: 600;
}

.example-content-secondary ul li {
  font-weight: 400;
}

.sakura {
  display: block;
  margin: 0px auto;
  margin-bottom: 5px;
}

#cosplay {
  text-align: center;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin-bottom: 5px;
}

#cosplay div.col {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.185);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

#cosplay h1 {
  text-align: center;
}

#cosplay h3 {
  font-weight: 100px;
  text-align: center;
  font-size: 1rem;
}

#cosplay .col-9 {
  height: auto;
  margin: 0px auto;
  margin-bottom: 5px;
}

#anime.example-row.clear-top.container img {
  height: 45vh;
}

button#button.btn.btn-primary {
  display: block;
  margin: 0px auto;
  margin-top: 10px;
}

.footer {
  position: relative;
  margin-top: -10px; /* negative value of footer height */
  height: 10px;
  clear:both;
  padding-top:20px;
} 

.footer video {
  height: 18em;
  margin: 0px auto;
  display: block;
}


@media only screen and (max-width: 503px) {
  #header img {
    width: 80vh;
    display: block;
    margin: 0px auto;
  }

  div.example-content-main {
    width: 500px;
    margin: 0px auto;
    font-weight: 600;
  }
  div.example-content-secondary {
    width: 500px;
    margin: 0px auto;
    font-weight: 600;

  }
  .sakura {
    height: 270px;
  }
  div.container-fluid .sakura {
    margin-bottom: 10px;
  }

div.container-fluid {
  display: block;
  width: 100%;
  margin-left: -82px;
  }

#cosplay.container-m {
  margin-left: -30px;
  width: 450px;
  }

  #cosplay.container-m h1 {
    text-align: center;
    margin-left: -40px;
  }

  #cosplay.container-m div.row {
    height: auto;
  }

  #cosplay.container-m div.col-9 {
    margin-left: 0;
    margin: 15px;
  }

  #cosplay.container-m {
    width: 350px;
  }

  #cosplay.container-m h3 {
    width: 325px;
  }

  #main.example-row.clear-top.container {
    height: 415px;
    width: 450px;
    margin-left: -70px;
  }

  #anime.example-row.clear-top.container img {
    height: 49vh;
    margin-left: -110px;
  }
  
  div#button.row {
    height: 40px;
  }

  button.btn.btn-primary {
    margin: 0px auto;
    width: auto;
  }



  
  .footer {
    position: relative;
    margin-top: -10px; /* negative value of footer height */
    height: 10px;
    clear:both;
    padding-top:20px;
  } 

  .footer video {
    height: 18em;
    margin: 0px auto;
    margin-left: -15px;
    display: block;
  }
}