html, body {
    height: 100%;
}

body {
    padding: 4.5rem;
    margin: 0;
    background-image: url(../../img/paper.png);
    font-family: 'Inter', sans-serif;
}


#sidebar {
  position: absolute;
  width: 11rem;
  height: 100%;
  left: -180px;
  transition: .4s;
  z-index: 1;
  border: 1px solid black;
  border-radius: 10px;
  top: 0px;
  background: #edc0bf;
  background: linear-gradient(90deg, #0f57ff81 0, #f552df8a 100%);
  backdrop-filter: blur(10px);
} 
    
#sidebar.active {
  left: 0;
  height: 100%;
}
  
#sidebar ul li a {
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
  
#sidebar ul li{
  list-style: none;
  font-size: 40px;
  padding: 2px 2px;
}

  
#sidebar .toggle-btn {
  position: absolute;
  left: 190px;
  top: 10px;
}
  
.toggle-btn span {
  width: 45px;
  height: 4px;
  background: rgba(2, 2, 2, 0.938);
  display: block;
  margin-top: 4px;
}

#banner {
  text-align: center;
  display: block;
  
}

.container-lg {
  display: block;
  margin: 0px auto;
  width: 407px;
  margin-bottom: 10px;
}

.headerIMG {
  width: 40vh;
  display:block;
  margin-left: -17px;
}

.row h1 {
  display: block;
  margin: 0px auto;
  width: 100%;
}

.row h3 {
  display: block;
  margin: 0px auto;
  margin-bottom: 20px;
  width: 100%;
  font-size: 1em;
}

.col-3 {
  border: 2px solid black;
  border-radius: 10px;
  left: 10px;
  background: #edc0bf;
  background: linear-gradient(90deg, #46e6a3 0, #6df34c 100%);
  backdrop-filter: blur(10px);
}

.col {
  border: 2px solid black;
  border-radius: 10px;
  height: 250px;
  width: 120px;
  backdrop-filter: blur(8px);
  margin: 5px;
}

.col-4 {
  height: 220px;
}

.col-4 img {
  height: 200px;
}

.col h2 {
  text-align: end;
}

p, a {
  font-size: 1rem;
}

a {
  color: #4d4ae8;
  text-decoration: none;
}


#wrap {
  min-height: 30%;
}
  
#main {
  overflow:auto;
  padding-bottom: 30px; /* this needs to be bigger than footer height*/
}

.example-content-main ul li {
  margin-left: -10px;
  font-weight: 600;
}

.example-content-secondary ul li {
  margin-left: -50px;
  font-weight: 400;
}

.sakura {
  display: block;
  width: 90%;
  margin: 0px auto;
  margin-bottom: 5px;
}

#cosplay {
  border: 2px solid black;
  background: #edc0bf;
  background: linear-gradient(90deg, #e76123c4 0, #5033f78f 100%);  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin-bottom: 5px;
}

#cosplay h1 {
  text-align: center;
}

#cosplay h3 {
  font-weight: 400px;
  padding: -90px;
}

#cosplay .col-9 {
  height: auto;
  margin: 0px auto;
  margin-bottom: 5px;
}


.example-content-main img {
  height: 220px;
  display: block;
  margin-left: -40px;  
}













.footer {
  position: relative;
  margin-top: -10px; /* negative value of footer height */
  height: 10px;
  clear:both;
  padding-top:20px;
} 

.footer video {
  height: 18em;
  margin: 0px auto;
  display: block;
}
