html, body {
    height: 100%;
}

body {
  padding: 4.5rem;
  margin: 0;
  background-size: contain;
  background-position: center;
  background-image: url("../../img/rain-anime-rain.gif");
}


#sidebar {
  position: absolute;
  width: 11rem;
  height: 100%;
  left: -180px;
  transition: .4s;
  z-index: 1;
  border: 1px solid black;
  border-radius: 10px;
  top: 0px;
  background: #edc0bf;
  background: linear-gradient(90deg, #0f57ff81 0, #f552df8a 100%);
  backdrop-filter: blur(10px);
} 
    
#sidebar.active {
  left: 0;
  height: 100%;
}
  
#sidebar ul li a {
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
  
#sidebar ul li{
  list-style: none;
  font-size: 40px;
  padding: 2px 2px;
}

  
#sidebar .toggle-btn {
  position: absolute;
  left: 190px;
  top: 10px;
}
  
.toggle-btn span {
  width: 45px;
  height: 4px;
  background: rgba(2, 2, 2, 0.938);
  display: block;
  margin-top: 4px;
}
div#banner.container {
  display: block;
  margin: 0px auto;
}

#banner {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.096);
  width: 220px;
  border-radius: 10px;
}

#banner h1 {
  text-align: center;
  color: rgb(178, 1, 194);
  font-size: 25px;
}


.col {
  border-radius: 10px;
  height: 250px;
  width: 120px;
  backdrop-filter: blur(8px);
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.096);
}


#wrap {
  min-height: 30%;
}
  
#main {
  overflow:auto;
  padding-bottom: 30px; /* this needs to be bigger than footer height*/
}

div#banner.container {
  text-align: center;
}

div.row {
  display: block;
  width: 100%;
  margin: 0px auto;
}

#profilePic img {
  height: 16rem;
  border-radius: 80px;
  border: 0px solid black;
  margin: 10px auto;
  display: block;
}

#header img {
  width: 70vh;
  display: block;
  margin: 0px auto;
}

div #main.example-row.clear-top.container {
  background-color: rgba(255, 255, 255, 0.096);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;  
  color: black;
}


*, *::before, *::after {
  box-sizing: border-box;
}

div#cosplay.container-sm {
  width: 450px;
}

div#cosplay.container-sm h1{
  color: black;
}

div#cosplay.container-sm h3{
  color: black;
}

#cosplay {
  text-align: center;
  border-radius: 10px;
  margin-bottom: 5px;
}

#cosplay div.col {
  width: 280px;
  display: block;
  margin: 0px auto;
  height: auto;
  background-color: rgba(98, 214, 88, 0.384);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px;
}


div#contact.container.justify-content-center.d-flex {
  margin: 0px auto;
  display: inline-block;
  margin-top: 5px;
}


.icon {
  height: 30px;
  margin-top: 2px;
  border-radius: 10px;
  margin: 1px auto;
  margin-left: 10px;
}

div#icons.container {
  height: 35px;
  padding-top: 2px;
  width: 295px;
  margin: 0px auto;
  display: block;
  border-radius: 10px;
  background-color: rgba(7, 35, 36, 0.549);
  backdrop-filter: blur(10px);
}

button {
  width: 100px;
}


#cosplay h3 {
  font-weight: 100px;
  text-align: center;
  font-size: 15px;
}

div#main.example-row.clear-top.container h1{
  text-align: center;
  margin-left: -9px;
  width: 300px;
  color: black;
}

div#main.example-row.clear-top.container {
  margin: 0px auto;
  text-align: center;
  width: 330px;
}

button.btn {
  margin-bottom: 5px;
  display: inline-block;
  width: 260px;
  height: 55px;
}

button.btn.btn-outline-warning {
  background-image: url("../../img/rain-anime.gif");
  background-position: bottom;
  background-size: cover; 
}

button.btn.btn-outline-primary {
  background-image: url("../../img/rain8.gif");
  background-position: center;
  background-size: cover; 
}

button.btn.btn-outline-success {
  background-image: url("../../img/rain7.gif");
  background-size: cover;
  background-position: center; 
}

button.btn.btn-outline-danger {
  background-image: url("../../img/rain2.gif");
  background-size: cover;
  background-position: center; 
}

button.btn.btn-outline-dark {
  background-image: url("../../img/raingif.gif");
  background-size: cover;
  background-position: center; 
}

button.btn.btn-outline-secondary {
  background-image: url("../../img/rain3.gif");
  background-size: cover;
  background-position: center; 
}

button.btn.btn-outline-info {
  background-image: url("../../img/rain5.gif");
  background-size: cover;
  background-position: center; 
}






@media only screen and (max-width: 725px) {
  body {
    padding: 4.5rem;
    display: block;
    width: auto;
    height: auto;
    background-repeat: repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  #banner {
    margin-left: -25px;
  }

  div#icons.container {
    margin: 0px auto;
    width: 300px;
    display: block;
    margin-left: -5px;
  }

  #cosplay div.col {
    margin-left: 0px;
  }

  
  div#main.example-row.clear-top.container {
    margin-left: -25px;
    padding-top: 10px;
  } 
}