* {
    margin: 0;
    padding: 0;
  }

  html {
    min-width: 100%;
    min-height: 100%;
  }

body {
  padding: 4.5rem;
  margin: 0;
  font-family: Source Sans Pro;
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url("../../img/franxbg3.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


#sidebar {
  position: absolute;
  width: 11rem;
  height: 100%;
  left: -180px;
  transition: .4s;
  z-index: 1;
  border: 1px solid black;
  border-radius: 10px;
  top: 0px;
  background: #edc0bf;
  background: linear-gradient(90deg, #0f57ff81 0, #f552df8a 100%);
  backdrop-filter: blur(10px);
} 
    
#sidebar.active {
  left: 0;
  height: 100%;
}

div#sidebar {
    height: 100%;
}
  
#sidebar ul li a {
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
  
#sidebar ul li{
  list-style: none;
  font-size: 40px;
  padding: 2px 2px;
}

  
#sidebar .toggle-btn {
  position: absolute;
  left: 190px;
  top: 10px;
}
  
.toggle-btn span {
  width: 45px;
  height: 4px;
  background: rgba(2, 2, 2, 0.938);
  display: block;
  margin-top: 4px;
}
.projects {
    display: block;
    background: linear-gradient(27deg, rgba(0, 0, 0, 0.986) 0%, rgba(182, 40, 139, 0.973) 6%, rgba(2, 74, 138, 0.966) 89%, rgba(0,0,0,0.8939950980392157) 100%);
    border: 2px solid black;
    border-radius: 10px;
    height: 230px;
    width: 350px;
    text-align: left;
    margin: 10px auto;
    src: url("fonts/notMyType.otf")
  }
  
  .projects ol {
    margin-left: 35px;
    color: black;
    margin-top: 10px;
  }
  
  .projects h2 {
    color: rgba(139, 255, 168, 0.884);
    text-align: center;
    font-size: 21px;
    background: rgba(0, 0, 0, 0.884);
    padding: 5px;
    font-family: 'Syne Mono', monospace;
    width: 150px;
    margin: 0 auto;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 10px;
  }
  
  .projects li {
    font-family: "Syne Mono";
    font-size: larger;
  }
  
  .projects a {
    text-decoration: none;
    color: rgb(64, 247, 9);
    font-weight: 200;
  }
  
  a:hover {
    background-color: rgba(3, 2, 3, 0.301);
    padding: 2px;
  }
  
  .dewaltButton {
    background: black;
    margin: 0px auto;
    text-decoration: none;
    display: block;
    margin-top: 71px;
    width: 160px;
  }
  
  .dewaltButton a {
    color: n;
    font-family: "Syne Mono";
  }