html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: serif;
  font-size: 12px;
  font-weight: 700;
  background-color: #fff;
}

graph {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5),
    0 6px 10px 0 rgba(0, 0, 0, 0.39);
}